@use "../../scss/" as *;

.movie_card {
  position: relative;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 160%;
  border-radius: $border-radius;
  margin-bottom: 1rem;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .card_footer {
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
    border-top: 1px solid $light;
    font-weight: bold;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    padding: 0.5rem;
    height: 4rem;
  }
  @media (hover: hover) {
    &:hover::before {
      opacity: 0.8;
    }
    &:hover .btn {
      transform: translateY(-50% - 50%) scale(1);
    }
  }
}
