@use "../../scss/" as *;

button {
  cursor: pointer;
  font-family: $font-family;
}

.btn {
  border: 4px solid transparent;
  color: $light;
  background: none;
  border: 1px solid $main-color;
  border-radius: $border-radius;
  padding: 0.3rem 1.8rem;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 0px 0px 7px 8px #ea00ff4d;
}

.btn_outline {
  border: 3px solid $light;
  background-color: transparent;
  color: $light;
  box-shadow: unset;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.btn_outline:hover {
  box-shadow: unset;
  color: $main-color;
  border-color: $main-color;
}

.btn.small {
  border-width: 2px;
  padding: 0.25rem 1.5rem;
  font-size: 1rem;
}
