@use "../../scss/" as *;

.movie_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 3rem;

  @include tablet {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  &__loadmore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }
}
